<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% load static %}

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" >
        <link rel="stylesheet" href="{% static "css/all.css" %}"  type="text/css">
        <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/sweetalert2.min.css" %}" type="text/css">

        <title>Help Memory</title>
    </head>
    <body>
        <div class="container">
            <header>
                    <!--  Remove dark nav  -->
                <nav class="nav dark-nav fixed-top">
                    <div class="container">
                        <div class="nav-heading">
                            <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
                            <a class="brand" href="#">ItFair</a>
                        </div>
                        <div class="menu" id="open-navbar1">
                            <ul class="list">
                            <li><a href="/perfil">Bienvenid@, {{usuario}} </a></li>                    
                            <li><a href="{% url "cerrar_session" %}">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container">   
                <div class="jumbotron">
                    <h1 class="display-4">Hola! {{usuario}}</h1>
                    <p class="lead">No olvides tomar tus remedios :)!</p>
                    <hr class="my-4">                    
                </div>                
            </div>                
            <br/>             
        </div>    
        
        
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>                                            
                        <th scope="col">Remedio</th>                                              
                        <th scope="col">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elemento in alarmas %}
                        {% for e in elemento %}
                            <tr>                            
                                <td>{{e.remedio.nombre}}</td>                            
                                <td>{{e.hora}} : 00 hrs</td>
                            </tr>                            
                        {% endfor %}                        
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="div_alarmas">
            {% for elemento in alarmas %}
                {% for e in elemento %}         
                    <input type="hidden" class="nombre_alarma" value="{{e.remedio.nombre}}" />
                    <input type="hidden" class="alarmas" value="{{e.hora}}:42" />
                    <input type="hidden" class="alarmas_id" value="{{e.id}}" />
                {% endfor %}                        
            {% endfor %}
        </div>

              
        <form action="/abuelo/registrar" method="POST" id="parar_alarma_form">
            {% csrf_token %}
            <input type="hidden" id="id_abuelo" name="id_abuelo" value="{{abuelo.id}}"/>
            <input type="hidden" id="alarma_id" name="alarma_id" value=""/>
            <input type="hidden" id="estado" name="estado" value=""/>
            <input type="hidden" id="fecha" name="fecha" value=""/>
        </form>

        <button type="submit" id="start" class="btn-primary" style="display:none">Start</button>
        <button id="stop" class="btn-danger" style="display:none">Stop</button>
        

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/playsound.js" %}"></script>
    <script src="{% static "js/sweetalert2.min.js" %}"></script>    

    <script type="text/javascript">

        var x = document.getElementsByClassName("alarmas");
        var n = document.getElementsByClassName("nombre_alarma");
        var y = document.getElementsByClassName("alarmas_id");

        var sonido_alarma = false;
        var tiempo_alarma = 11;

        window.setInterval(function(){
            
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes();
            console.log(time);            

            jQuery.each( x, function( i, val ) {
                if(val.value == time) {
                    if(sonido_alarma == false){
                        if(tiempo_alarma != 0){
                            $('#start').trigger('click');
                            console.log('es hora de sonar la alarma :)')

                            var fechadt = new Date();

                            if(fechadt.getDay() <= 9){
                                var fecha = 
                                "0" + fechadt.getDay() + "/" + fechadt.getMonth()  + "/" +  + fechadt.getFullYear();
                            }else {
                                var fecha = 
                                fechadt.getDay() + "/" + fechadt.getMonth()  + "/" +  + fechadt.getFullYear();
                            }
                            

                            jQuery('#alarma_id').val(y[0].value);
                            jQuery('#estado').val('OK');
                            jQuery('#fecha').val(fecha);

                            swal({
                                title: 'Alarma!!!!',
                                text: 'Es hora de ' + n[0].value,
                                type: 'info',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                if (result.value) {
                                    sonido_alarma = true;
                                    $('#stop').trigger('click');

                                    $.ajax({
                                        type: "POST",
                                        url: "/abuelo/registrar",
                                        data: $('#parar_alarma_form').serialize(),
                                        success: function(data) {
                                            console.log(data);
                                        },
                                        error: function(data) {
                                            console.log(data);
                                        }
                                    });
                                }
                            })

                            tiempo_alarma = tiempo_alarma - 1;

                        }else {

                            var fechadt = new Date();
                            var fecha = 
                            fechadt.getFullYear() + "/" + fechadt.getMonth()  + "/" +  + fechadt.getDay();

                            jQuery('#alarma_id').val(y[0].value);
                            jQuery('#estado').val('NO');
                            jQuery('#fecha').val(fecha);

                            $.ajax({
                                type: "POST",
                                url: "/abuelo/registrar",
                                data: $('#parar_alarma_form').serialize(),
                                success: function(data) {
                                    console.log(data);
                                },
                                error: function(data) {
                                    console.log(data);
                                }
                            });

                            swal({
                                title: 'No se tomó el remedio :( !',
                                text: 'Es hora de ' + n[0].value,
                                type: 'error',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                if (result.value) {
                                    sonido_alarma = true;
                                    $('#stop').trigger('click');
                                }
                            })
                        }    
                    } else {
                        sonido_alarma = true;
                    }                                    
                }                
            });
            
            //$.playSound("/static/sounds/alarma1.mp3");
        }, 5000);
            
    </script>
  </body>
</html>