<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% load static %}

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" >
        <link rel="stylesheet" href="{% static "css/all.css" %}"  type="text/css">
        <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">

        <title>Help Memory</title>
    </head>
    <body>
        <div class="container">
            <header>
                    <!--  Remove dark nav  -->
                <nav class="nav dark-nav fixed-top">
                    <div class="container">
                        <div class="nav-heading">
                            <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
                            <a class="brand" href="#">ItFair</a>
                        </div>
                        <div class="menu" id="open-navbar1">
                            <ul class="list">
                            <li><a href="/perfil">Bienvenid@, {{usuario}} </a></li>                    
                            <li><a href="{% url "cerrar_session" %}">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>            
        </div>        

              
        <div class="container">
            <div class="jumbotron">
                <form action="/remedio/editado/{{remedio.id}}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <h1>Editar Remedio</h1>
                    </fieldset>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <div class="col-md-6">
                                    <input required id="nombre" value="{{remedio.nombre}}" name="nombre" type="text" placeholder="Ingrese nombre" class="form-control input-md" >                          
                                </div>
                            </div>
                        </div>   
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Descripcion</label>  
                                <div class="col-md-6">
                                    <input required id="descripcion" value="{{remedio.descripcion}}" name="descripcion" type="text" placeholder="Ingrese descripcion" class="form-control input-md" >                          
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tratamiento</label>  
                                <div class="col-md-6">
                                    <input required id="tratamiento" value="{{remedio.tratamiento}}" name="tratamiento"  type="text" placeholder="Ingrese tratamiento del remedio" class="form-control input-md" >                          
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Hora Inicio Remedio</label>  
                                <div class="col-md-6">
                                    <input required id="horaInicio" value="{{remedio.horaInicio}}" name="horaInicio" type="number" class="form-control input-md" >                          
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cada cuantas horas al día</label>  
                                <div class="col-md-6">
                                    <select id="cantVeces"name="cantVeces" type="text" placeholder="Ingrese cantidad de veces" class="form-control input-md" required="">
                                        <option hidden="{{remedio.cantVeces}}">{{remedio.cantVeces}}</option>
                                        <option value="4">4</option>
                                        <option value="6">6</option>
                                        <option value="8">8</option>
                                        <option value="12">12</option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label></label>
                                <div class="col-md-6">
                                    <button id="editar" name="editar" class="form-control btn btn-primary">Editar</button>
                                </div>
                            </div>
                        </div>                                                
                    </div>              
                </form>
            </diV>            
        </div> 
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->    
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>